<html>
    <body>
        <h4>
            Go to 
            <a style="color: blue; text-decoration: none" href='/fs' >
            home directory
            </a>
            .
        </h4>
    </body>
</html>

    