<html>
    <body>
        <% flash.keys.each do |type| %>
            <div data-alert class="flash <%= type %> alert-box radius">
                <%= flash[type] %>
                <a href="#" class="close">&times;</a>
            </div>
        <% end %>
        <% if are_login %>
            <h2> You are sign in! </h2>
            <h4>
                Go to 
                <a style="color: blue; text-decoration: none" href='/fs' >
                home directory
                </a>
                .
            </h4>
        <% else %>
            <h3>
                Please, write your key
            </h3>
            <form name="keyForm"><!-- method="post"> -->
                <input type="text" name="key"><br>
                <input type="submit" value="Login"/>
            </form>
        <% end %>
    </body>
</html>