<html>
    <body>
        <h3>
            Please, fill in file information
        </h3>
        <form method="post" enctype="multipart/form-data">
            Path: <input type="text" name="path" value="<%= @default_path %>"><br>
            File: <input type="file" name="file"><br>
            <input type="submit" value="Upload"/>
        </form>
    </body>
</html>